# Node modules
node_modules/
**/node_modules/

# Build output
dist/
build/
coverage/

# Environment files
.env
**/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml

# Frontend tools (se li userai)
.cache/
.parcel-cache/
.next/
out/
